In [87]:
import pandas as pd

bios_original_data = pd.read_csv('data/bios.csv')

In [88]:
bios_original_data.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleanup
- [ ] Remove unneeded columns
- [x] Split height & weight
- [x] Parse dates
- [x] Remove bullet points from names
- [x] Extract location data

In [89]:
# Copy the original data to a new DataFrame for cleaning
bios = bios_original_data.copy()

In [90]:
# Remove bullet point character from names
bios["name"] = bios["Used name"].str.replace("•", " ")
bios.head()["name"]

0    Jean-François Blanchy
1           Arnaud Boetsch
2             Jean Borotra
3          Jacques Brugnon
4             Albert Canet
Name: name, dtype: object

In [91]:
# Split Measurements column into height and weight columns and fill missing values with placeholder data
bios[["height_cm", "weight_kg"]] = bios["Measurements"].str.split(" / ", expand=True)
bios["weight_kg"] = bios["weight_kg"].fillna(bios["height_cm"])

# Remove " cm" and " kg" from new height and weight columns and coerce to numeric
bios["height_cm"] = pd.to_numeric(bios["height_cm"].str.strip("cm"), errors="coerce")
bios["weight_kg"] = pd.to_numeric(bios["weight_kg"].str.strip("kg"), errors="coerce")

In [92]:
# Sort data and check before moving on
bios.sort_values("height_cm", ascending=False).head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
89070,Competed in Olympic Games • Other,Male,Yao•Ming,Yao•Ming,"12 September 1980 in Xuhui District, Shanghai ...",NaN,People's Republic of China,89782,226 cm / 141 kg,"Shanghai Sharks, Shanghai (CHN) / Houston Rock...",NaN,NaN,NaN,NaN,姚•明,Oriental,Yao Ming,226.0,141.0
6978,Competed in Olympic Games,Male,Arvydas Romas•Sabonis,Arvydas•Sabonis,"19 December 1964 in Kaunas, Kaunas (LTU)",NaN,Lithuania Soviet Union,7013,223 cm / 122 kg,"Žalgiris Kaunas, Kaunas (LTU) / Real Madrid, M...",Sabas,NaN,"Arvidas Romas Sabonis, Арвидас Ромас Сабонис",Lithuania,NaN,NaN,Arvydas Sabonis,223.0,122.0
5781,Competed in Olympic Games,Male,"Thomas Loren ""Tommy""•Burleson",Tommy•Burleson,"24 February 1952 in Crossnore, North Carolina ...",NaN,United States,5804,223 cm / 102 kg,"NC State Wolfpack, Raleigh (USA)",NaN,NaN,NaN,NaN,NaN,NaN,Tommy Burleson,223.0,102.0
89075,Competed in Olympic Games,Male,Roberto•Dueñas Hernández,Roberto•Dueñas,"1 November 1975 in Madrid, Madrid (ESP)",NaN,Spain,89787,221 cm / 137 kg,"FC Barcelona, Barcelona (ESP)",NaN,NaN,NaN,NaN,NaN,NaN,Roberto Dueñas,221.0,137.0
120266,Competed in Olympic Games,Male,Zhang•Zhaoxu,Zhang•Zhaoxu,"18 November 1987 in Binzhou, Shandong (CHN)",NaN,People's Republic of China,122147,221 cm / 110 kg,"Shanghai Sharks, Shanghai (CHN)",NaN,NaN,NaN,NaN,张•兆旭,Oriental,Zhang Zhaoxu,221.0,110.0

In [93]:
# Regex to extract date data
date_regex = r"(\d+ \w+ \d{4}|\d{4})"

# Parse dates
bios["date_of_birth"] = bios["Born"].str.extract(date_regex)
bios["date_of_birth"] = pd.to_datetime(bios["date_of_birth"], format="mixed", errors="coerce")
bios["date_of_death"] = bios["Died"].str.extract(date_regex)
bios["date_of_death"] = pd.to_datetime(bios["date_of_death"], format="mixed", errors="coerce")

bios.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg,date_of_birth,date_of_death
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN,1886-12-12,1960-10-02
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183.0,76.0,1969-04-01,NaT
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra,183.0,76.0,1898-08-13,1994-07-17
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168.0,64.0,1895-05-11,1978-03-20
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Albert Canet,NaN,NaN,1878-04-17,1930-07-25

In [94]:
# Extract location data from born column
loc_regex = r"in ([\w\s-]+), ([\w\s-]+) \((\w+)\)"
bios[["birth_city", "birth_region", "birth_country"]] = bios["Born"].str.extract(loc_regex, expand=True)

bios[["birth_city", "birth_region", "birth_country"]].head()

    birth_city          birth_region birth_country
0     Bordeaux               Gironde           FRA
1       Meulan              Yvelines           FRA
2     Biarritz  Pyrénées-Atlantiques           FRA
3  Paris VIIIe                 Paris           FRA
4   Wandsworth               England           GBR

In [95]:
# Check data before moving on
pd.set_option('display.max_columns', None)
bios.value_counts("birth_city", ascending=False).head(30)

birth_city
Budapest          1378
Oslo               708
Stockholm          629
Toronto            579
Buenos Aires       538
Sydney             497
Montréal           468
Berlin             467
Helsinki           439
Rio de Janeiro     433
Amsterdam          429
Barcelona          425
Melbourne          417
New York           416
Seoul              405
São Paulo          393
London             386
Madrid             379
Roma               344
Sofia              332
Milano             312
Vancouver          310
Minsk              303
Chicago            283
Rīga               282
Auckland           263
Paris              245
Los Angeles        230
Ljubljana          229
Kyiv               226
Name: count, dtype: int64

In [96]:
# Remove duplicates
columns = ["athlete_id", "name", "birth_city", "birth_region", "birth_country", "date_of_birth", "date_of_death", "height_cm", "weight_kg", "NOC", "Sex"]
bios_cleaned = bios[columns].drop_duplicates()

bios_cleaned.head(30)

,athlete_id,name,birth_city,birth_region,birth_country,date_of_birth,date_of_death,height_cm,weight_kg,NOC,Sex
0,1,Jean-François Blanchy,Bordeaux,Gironde,FRA,1886-12-12,1960-10-02,NaN,NaN,France,Male
1,2,Arnaud Boetsch,Meulan,Yvelines,FRA,1969-04-01,NaT,183.0,76.0,France,Male
2,3,Jean Borotra,Biarritz,Pyrénées-Atlantiques,FRA,1898-08-13,1994-07-17,183.0,76.0,France,Male
3,4,Jacques Brugnon,Paris VIIIe,Paris,FRA,1895-05-11,1978-03-20,168.0,64.0,France,Male
4,5,Albert Canet,Wandsworth,England,GBR,1878-04-17,1930-07-25,NaN,NaN,France,Male
5,6,Nicolas Chatelain,Amiens,Somme,FRA,1970-01-13,NaT,181.0,70.0,France,Male
6,7,Patrick Chila,Ris-Orangis,Essonne,FRA,1969-11-27,NaT,180.0,73.0,France,Male
7,8,Henri Cochet,Villeurbanne,Rhône,FRA,1901-12-14,1987-04-02,NaN,NaN,France,Male
8,9,Marcel Cousin,Nîmes,Gard,FRA,1896-08-04,1986-08-01,NaN,NaN,France,Male
9,10,Guy de la Chapelle,Farges-Allichamps,Cher,FRA,1868-07-16,1923-08-27,NaN,NaN,France,Male
10,11,"Élie, Comte de Lastours",Orgeval,Yvelines,FRA,1874-08-12,1932-11-18,NaN,NaN,France,Male
11,12,Max Decugis,Paris XVIe,Paris,FRA,1882-09-24,1978-09-06,NaN,NaN,France,Male
12,13,J. Defert,NaN,NaN,NaN,NaT,NaT,NaN,NaN,France,Male
13,14,Étienne Durand,NaN,NaN,NaN,NaT,NaT,NaN,NaN,France,Male
14,15,Damien Éloi,Vire,Calvados,FRA,1969-07-04,NaT,165.0,58.0,France,Male
15,16,Adrien Fauchier-Magnan,Paris VIIIe,Paris,FRA,1873-11-19,1965-08-06,NaN,NaN,France,Male
16,17,Guy Forget,Casablanca,Casablanca-Settat,MAR,1965-01-04,NaT,189.0,79.0,France,Male
17,18,Jean-Philippe Gatien,Alès,Gard,FRA,1968-10-16,NaT,178.0,73.0,France,Male
18,19,Maurice Germot,Vichy,Allier,FRA,1882-11-15,1958-08-06,NaN,NaN,France,Male
19,20,André Gobert,Paris XVIIe,Paris,FRA,1890-09-30,1951-12-06,NaN,NaN,France,Male
20,21,Pierre Hirsch,Paris Ie,Paris,FRA,1900-11-08,1942-04-19,NaN,NaN,France,Male
21,22,René Lacoste,Paris Xe,Paris,FRA,1904-07-02,1996-10-12,NaN,NaN,France,Male
22,23,Daniel Lawton,Cantenac,Gironde,FRA,1881-11-27,1979-03-27,NaN,NaN,France,Male
23,24,Paul Lebreton,Paris IIe,Paris,FRA,1875-10-19,1960-03-31,NaN,NaN,France,Male
24,25,Paul Lecaron,Neuilly-sur-Seine,Hauts-de-Seine,FRA,1863-07-29,1940-09-17,NaN,NaN,France,Male
25,26,Henri Leconte,Lillers,Pas-de-Calais,FRA,1963-07-04,NaT,184.0,78.0,France,Male
26,27,Christophe Legoût,Montbéliard,Doubs,FRA,1973-08-06,NaT,177.0,75.0,France,Male
27,28,"Guy, Baron Lejeune",NaN,NaN,NaN,NaT,NaT,NaN,NaN,France,Male
28,29,Albert Lippmann,NaN,NaN,NaN,NaT,NaT,NaN,NaN,France,Male
29,30,Édouard Mény de Marangue,Paris VIe,Paris,FRA,1882-11-30,1960-01-23,NaN,NaN,France,Male

In [97]:
bios_cleaned.to_csv("data/bios_cleaned.csv", index=False)